{% extends "base.html" %}

sta

{% block content %}

    <main style = "background:white">
        <article class = "text-white" style = "background:#fd7e14;">
            <h1 class = "text-center display-6" style="text-weight:bolder;">ABOUT KITTY FACTS</h1>
            <p class = "container fs-3 text-center">
                Kitty Facts is a website dedicated to telling interesting fun fact about cats.<br>
                Like how they sleep a lot to how violent they tend to be sometimes.
                I made this website in honour of my late car kitty.
                He was an orange cat with a typical orange cat behaviour.
            </p>
        </article>
        <section style = "height:50vh;height50dvh;" class = "d-flex justify-content-center">
            <img src = "https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=34d32522f47e4a67286f9894fc81c863"
                alt="orange cat" height = "100%" style = "min-width:auto;:max-width:80vw;display:block;"/>
        </section>

        <section>
            <h1 class= "display-6 text-center bolder">Follow Me</h1>
            <p class = "text-center">
                <a href = "https://github.com/mabrikado" class = "link-dark">
                    <i class="fa fa-github" style="font-size:48px;"></i>
                </a>
                <a href = "https://github.com/mabrikado" class = "link-dark">
                    <i class="fa fa-twitter text-info" style="font-size:48px;"></i>
                </a>

            </p>
        </section>
    </main>

{% endblock %}