

#aboutCat {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}




@media screen and (min-width: 650px) {
    /* CSS rules here will apply when the viewport is at least 600 pixels wide */
    #aboutCat {
        width: 30%;
    }
}

