        body {
            background:#fd7e14; 
        }

        header {
            height: 15vh;
            height: 15dvh;
        }

        main {
            min-height: calc(100vh - 15vh);
            max-height: auto;
        }

        .nav-item {
            border-radius: 1.2rem;
            -webkit-border-radius: 1.2rem;
            -moz-border-radius: 1.2rem;
            -ms-border-radius: 1.2rem;
            -o-border-radius: 1.2rem;
}

        .nav-item:hover {
            background-color: #fd7e14 ;
            transition: 2s;
            -webkit-transition: 2s;
            -moz-transition: 2s;
            -ms-transition: 2s;
            -o-transition: 2s;
<<<<<<< HEAD
        }
        
        .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%230dcaf0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        }

        main {
            background:#fd7e14;
            min-height: 92h;
            min-height: 92dvh;
            max-height: auto;
        }


        footer {
            background:#fd7e14;
        }

=======

}
>>>>>>> 7c4f4089aeeb2cb6c93cbc56c0ff6d1087cf6c89
